In [2]:
a = 0 
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

#Question 1

the value of a will be 6
step 1: variable "a" is assigned to value zero

*)when excicuting function "b" for the first time it calls the variable "a" using the keyword "global"
then global a with value zero is passed to function "c"
 which return "a+2" and global variable will get value 2
 
 *)when excicuting the function "b" second time it will go through the same process except the value of global variable is 2, so the value of a will be updated to 4 this time and will return it
 
 *)when excicuting function b for third time , the process will be the same as the first time except the value of global variable is 4 this time , so while excicuting the its value will be changed to 6 this time and return it
 
 *)after this 3 excicution of function "b" the value of variable a is now 6 , so when a is evaluated lastly it will disply 6

In [18]:
 #Question2
def fileLength(filename):
    try:
        infile = open(filename,'r')
        
        contents=infile.read()
        contents.head()
        length =len(contents)
        return length
    except FileNotFoundError:
        return f"File{filename} not found"
    except Exception as e:
        return f"An error occured:{str(e)}"
    
fileLength('filename')

'Filefilename not found'

In [20]:
#Question3

class Marsupial: #creating a class named Marsupial
    List = [] #creating a list 
    
    def put_in_pouch(self,content): #defining a function put_in_pouch to add contents to the list
       self.List.append(content) #appending the contents to the list
        
        
    def pouch_contents(self): #defining a fucntion Pouch_contents to print the list
        return m.List

m = Marsupial() #class object
m.put_in_pouch("doll") #function call
m.put_in_pouch("firetruck") #function call
m.put_in_pouch("kitten") #function call
m.pouch_contents() #function call

['doll', 'firetruck', 'kitten']

In [33]:
class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()  # Call the constructor of the superclass Marsupial
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

In [31]:
    
k = Kangaroo(0,0)
print (k)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
I am a Kangaroo located at coordinates (3,0)

In [22]:
#QUESTION4
def collatz(x):
    # Base case: If x is 1, print it and stop.
    if x == 1:
        print(1)
    # Recursive cases:
    else:
        print(x)
        # If x is even, call collatz with x/2.
        if x % 2 == 0:
            collatz(x // 2)
        # If x is odd, call collatz with 3x + 1.
        else:
            collatz(3 * x + 1)


collatz(6)

6
3
10
5
16
8
4
2
1

In [23]:
#QUESTION5
def binary(n):
    if n > 1:
        binary(n // 2) 
    print(n % 2, end='')


binary(0)
print()  
binary(1)
print()
binary(3)
print()
binary(9)

0
1
11
1001

In [24]:
#QUESTION6
import sqlite3

conn = sqlite3.connect('annite_gee_varghese.db')
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE weather 
    (City TEXT, Country TEXT, Season TEXT, "Temperature(C)" FLOAT, "Rainfall(mm)" FLOAT)
''')

weather_data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]

cursor.executemany('''
    INSERT INTO weather (City, Country, Season, "Temperature(C)", "Rainfall(mm)")
    VALUES (?, ?, ?, ?, ?)
''', weather_data)

# a) All the temperature data.
cursor.execute('SELECT "Temperature(C)" FROM weather')
temperature_data = cursor.fetchall()

#b) All the cities, but without repetition.
cursor.execute('SELECT DISTINCT City FROM weather')
unique_cities = cursor.fetchall()

#c) All the records for India.
cursor.execute('SELECT * FROM weather WHERE Country = "India"')
india_records = cursor.fetchall()

#d) All the Fall records
cursor.execute('SELECT * FROM weather WHERE Season = "Fall"')
fall_records = cursor.fetchall()

#e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
cursor.execute('''
    SELECT City, Country, Season
    FROM weather
    GROUP BY City, Country, Season
    HAVING AVG("Rainfall(mm)") BETWEEN 200 AND 400
''')
rainfall_between_200_400 = cursor.fetchall()

#f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
cursor.execute('''
    SELECT City, Country
    FROM weather
    WHERE Season = "Fall"
    GROUP BY City, Country
    HAVING AVG("Temperature(C)") > 20
    ORDER BY AVG("Temperature(C)") ASC
''')
high_temp_cities_in_fall = cursor.fetchall()

#g) The total annual rainfall for Cairo.
cursor.execute('SELECT SUM("Rainfall(mm)") AS "Total Rainfall" FROM weather WHERE City = "Cairo"')
cairo_total_rainfall = cursor.fetchone()[0]

#h) The total rainfall for each season.
cursor.execute('SELECT Season, SUM("Rainfall(mm)") AS "Total Rainfall" FROM weather GROUP BY Season')
total_rainfall_by_season = cursor.fetchall()

# Print the results
print("a) All Temperature Data:", temperature_data)
print("b) All Unique Cities:", unique_cities)
print("c) Records for India:", india_records)
print("d) Fall Records:", fall_records)
print("e) Average Rainfall between 200 and 400:", rainfall_between_200_400)
print("f) High-Temperature Cities in Fall:", high_temp_cities_in_fall)
print("g) Total Rainfall for Cairo:", cairo_total_rainfall)
print("h) Total Rainfall by Season:", total_rainfall_by_season)


conn.commit()
conn.close()

a) All Temperature Data: [(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]
b) All Unique Cities: [('Mumbai',), ('London',), ('Cairo',)]
c) Records for India: [('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]
d) Fall Records: [('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]
e) Average Rainfall between 200 and 400: [('London', 'United Kingdom', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('Mumbai', 'India', 'Fall')]
f) High-Temperature Cities in Fall: [('Cairo', 'Egypt'), ('Mumbai', 'India')]
g) Total Rainfall for Cairo: 27.6
h) Total Rainfall by Season: [('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

In [25]:
#QUESTION9
#a
upper_words = [word.upper() for word in words]
print(upper_words)

NameError: name 'words' is not defined

In [ ]:
#QUESTION9
#b
lower_words = [word.lower() for word in words]
print(lower_words)

In [ ]:
#Question9
#C
word_lengths = [len(word) for word in words]
print(word_lengths)

In [ ]:
#QUESTION9
#D
word_info = [[word.upper(), word.lower(), len(word)] for word in words]
print(word_info)

In [ ]:
#QUESTION9
#E
long_words = [word for word in words if len(word) >= 4]
print(long_words)